torch
torchaudio
numpy
pyaudio
faster-whisper
soundfile
colorama
groq
python-dotenv
edge-tts
ffmpeg-python
fastapi
uvicorn
websockets
python-multipart
jinja2
nvidia-cudnn-cu11==8.9.2.26
nvidia-cublas-cu11==11.10.3.66



